@model TbSolicitudes
@{
    ViewData["Title"] = "Crear Solicitud";

}

<partial name="_Submenu" model="SubMenuSolicitudes.CrearSolicitud" />
<input id="viewBagLimiteDias" value="@ViewBag.Solicitud" readonly class="form-control" hidden />
@if(ViewBag.Periodo == null)
{
   

    <div class="alert alert-danger alert-dismissible fade show" role="alert">
         <h1>Ya no tienes periodos disponibles</h1>
        <h6>te has acabado todos tus periodos con dias de vacaciones disponibles.</h6>
        <p>espera a que nuevamente recursos humanos te agregue el proximo periodo de vacaciones.<br />
            Recuerda que unicamente puedes crear solicitudes de tipo <strong>Licencia o Permiso</strong></p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (ViewBag.Idemp != false)
{
    @if(ViewBag.Periodo == null)
    {
        <h1>No puedes crear solicitudes del tipo vacacional </h1>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <h6>Toma en cuenta lo siguiente:</h6>
        Al no tener periodos vacacionales disponibles, es imposible crear solicitudes del tipo <strong>Vacacional</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    }
    else
    {
    <h1>Tienes solicitudes pendientes de aprobación</h1>    
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <h6>Toma en cuenta lo siguiente:</h6>
        Al tener solicitudes pendientes de aprobación esto te impide crear mas solicitudes.<br>
        Por favor espera a que tu solicitud sea aprobada o denegada.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    }


    
}else{
<h1>Ingresa los datos para crear tu solicitud</h1>

<div class="alert alert-info alert-dismissible fade show" role="alert">
    <h6>Toma en cuenta lo siguiente:</h6>

    Tu periodo mas antiguo es del: <b>@ViewBag.Periodo</b>
    y cuenta con <b>@ViewBag.Dias</b> días disponibles para vacaciones.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<input id="viewBagPeriodo" value="@ViewBag.Periodo" readonly class="form-control" hidden />
<input id="viewBagLimiteDias" value="@ViewBag.Solicitud" readonly class="form-control" hidden />
<div class="containerCrearSolicitud">
    <form asp-action="CrearSolicitud">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-4">
                <div class="mb-3">
                    <label asp-for="TiposolicitudId" class="form-label"></label>
                    <select asp-for="TiposolicitudId"
                            asp-items="Html.GetEnumSelectList<TiposSolicitudesViewModel>()"
                            class="form-select" onchange="MuestraPeriodo()">
                    </select>
                    <span asp-validation-for="TiposolicitudId" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="SolicitudDetalles" class="form-label"></label>
                    <textarea asp-for="SolicitudDetalles" class="form-control"></textarea>
                    <span asp-validation-for="SolicitudDetalles" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="SolicitudFechasSeleccionadas" class="form-label"></label>
                    <input type="text" asp-for="SolicitudFechasSeleccionadas" class="form-control" />
                    <span asp-validation-for="SolicitudFechasSeleccionadas" class="text-danger"></span>
                </div>
                <div class="mb-3" id="conteneSolicitudPeriodoVacas">
                    <label asp-for="SolicitudPeriodoVacas" class="form-label"></label>
                    <input asp-for="SolicitudPeriodoVacas" value="" readonly class="form-control" />
                    <span asp-validation-for="SolicitudPeriodoVacas" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="mt-3">
                    <button class="btn btn-outline-light" type="submit">Crear Solicitud</button>
                </div>
            </div>
        </div>
    </form>
</div>
}
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/Funciones.js" asp-append-version="true"></script>
    <script>


    </script>
}